<div class="about" id="about">
  <div class="head">
    <h2><span>1.</span>&nbsp;About Me</h2>
    <div class="line"></div>
  </div>
  <div class="bref">
    <div class="info">
      <h1 class="fw-bold mb-1">Hey there, I'm Mohamed Atef!</h1>
      Passionate about bringing ideas to life through code.
      <h3 class="colored mt-2">Who Am I?</h3>
      I thrive on turning concepts into reality, blending creativity with
      technical prowess. As a seasoned full-stack developer, my expertise spans
      Angular, React, React Native and Node.js. While my roots lie in front-end
      development, I've ventured into the realm of back-end technologies,
      augmenting my skills to create comprehensive web applications.
      <h3 class="colored mt-2">My Approach</h3>
      Every line of code I write aims not just for functionality but for
      elegance and efficiency. I'm driven by the pursuit of crafting visually
      captivating interfaces coupled with robust functionalities, all aimed at
      delivering unparalleled user experiences.
      <h3 class="colored mt-2">Why Choose Me?</h3>
      Collaboration is key in my approach. I actively engage in the entire
      development cycle, from ideation to deployment, ensuring that the vision
      materializes flawlessly. I bring dedication, a keen eye for detail, and a
      commitment to excellence to every project I undertake.
    </div>
    <div class="image-parent">
      <img
        src="assets/images/photo_2023-02-15_22-15-39.jpg"
        alt="Mohamed Atef"
        loading="lazy"
      />
    </div>
  </div>
</div>
