<section id="work" class="work">
  <div class="head">
    <h2><span>3.</span>&nbsp;Some Projects I’ve Built</h2>
    <div class="line"></div>
  </div>
  <div class="projects pt-4">
      <div class="store store-animation d-flex position-relative">
        <div class="image">
          <img src="assets/images/mystore.PNG" alt="myStore">
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3>Featured Project</h3>
          <a href="https://mohamedatef-99.github.io/MyStore-app-using-angular/" target="_blank">My Store</a>
          <div class="dettails">
            <div class="pragraph">
              <P>E-commerce website using <span class="tools">Angular</span>,
                this website has a 6 components (Cart, Products, Product details, Success, Main, Header)
                and it has also 2 services (Cart Service, Product Service) and has app routing modules and model
                called product.first we fetch the product from external api (fake api) to service then we create
                a cart component for the product that user added to cart then we create a single product component
                for the products details then we create a success component for confirmation</P>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li><span class="tools">Angular</span></li>
                <li>API</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/MyStore-app-using-angular" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://mohamedatef-99.github.io/MyStore-app-using-angular/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="store1 store-animation d-flex position-relative">
        <div class="h-man">
          <h3>Featured Project</h3>
          <a class="hang" href="https://multistepformangular.netlify.app/" target="_blank">Multi-Step Form</a>
          <div class="dettails">
            <div class="ph-man">
              <P>It is a form has four steps info, plan, add-ons and summary each step include validations and it developed by using <span class="tools">Angular</span></P>
            </div>
            <div class="man-l">
              <ul class="man-l d-flex">
                <li><span class="tools">Angular</span></li>
                <li>CSS</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Multi-Step-Form" target="_blank"><i class="fa-brands fa-github mt-3"></i></a>
              <a href="https://multistepformangular.netlify.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
        <div class="ih-man">
          <img src="assets/images/form.PNG" alt="Multi-Step Form">
          <div class="overlay"></div>
        </div>
      </div>
      <div class="store2 store-animation d-flex position-relative">
        <div class="image">
          <a href="https://mohamedatef-99.github.io/FrontEnd-Mentor-Solution-4/"><img src="assets/images/sneakers.PNG" alt="twitter"></a>
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3 class="head3">Featured Project</h3>
          <a class="hang" href="https://github.com/mohamedatef-99/FrontEnd-Mentor-Solution-4" target="_blank">E-commerce product page</a>
          <div class="">
            <div class="pragraph">
              <P>Sneakers, is e-Commerce Product Page Created by HTML, CSS and JavaScript </P>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/FrontEnd-Mentor-Solution-4" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://mohamedatef-99.github.io/FrontEnd-Mentor-Solution-4/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
