<section id="work" class="work">
  <div class="head">
    <h2><span>3.</span>&nbsp;Some Projects I’ve Built</h2>
    <div class="line"></div>
  </div>
  <div class="projects pt-4">
      <!-- Project 1 -->
      <div class="store2 store-animation d-flex position-relative">
        <div class="image">
          <a href="https://store-api-v2-u6b3.onrender.com/api/v1/products"><img src="assets/images/storeapi.png" alt="Store API" loading="lazy"></a>
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3 class="head3">Featured Project</h3>
          <a class="hang" href="https://store-api-v2-u6b3.onrender.com" target="_blank">Store API</a>
          <div class="">
            <div class="pragraph">
              <p>The Store API serves as the backbone of the e-commerce store, providing essential functionality for product management, category organization, and order processing. It enables seamless integration between the frontend and backend, allowing users to browse products.
              Created a well-structured MongoDB schema for products, ensuring efficient data storage and retrieval. CRUD operations for products.
            </p>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li><span class="tools">Node JS</span></li>
                <li><span class="tools">Express JS</span></li>
                <li><span class="tools">MongoDB</span></li>
                <li><span class="tools">Mongoose</span></li>
                <li><span class="tools">RESTful API principles</span></li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Backend-Store-API" target="_blank"><i class="fa-brands fa-github mt-3"></i></a>
              <a href="https://store-api-v2-u6b3.onrender.com" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="store1 store-animation d-flex position-relative">
        <div class="h-man">
          <h3>Featured Project</h3>
          <a class="hang" href="https://mohamedatef-99.github.io/Restaurant-Website/" target="_blank">Grill Website</a>
          <div class="dettails">
            <div class="ph-man">
              <P>Creating restaurant website using HTML, CSS and JavaScript. the website has some sections like About us, Menu, Upcoming events and Form for reservation. Moreover the website has some features like a slider, auto slider and it has a scroll up button</P>
            </div>
            <div class="man-l">
              <ul class="man-l d-flex">
                <li><span class="tools">HTML</span></li>
                <li><span class="tools">CSS</span></li>
                <li><span class="tools">JavaScript</span></li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Restaurant-Website" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://mohamedatef-99.github.io/Restaurant-Website/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
        <div class="ih-man">
          <img src="assets/images/Resturant.PNG" alt="Restaurant" loading="lazy">
          <div class="overlay"></div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="store store-animation d-flex position-relative">
        <div class="image">
          <img src="assets/images/patient2.PNG" alt="Hospital Management System" loading="lazy">
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3>Featured Project</h3>
          <a href="https://hospital-management-779ee.web.app/" target="_blank">Hospital Management System</a>
          <div class="dettails">
            <div class="pragraph">
              <P>Developed a comprehensive Hospital Management System to streamline patient care and improve administrative processes using <span class="tools">Angular</span>, <span class="tools">Angular Material</span>, and <span class="tools">Firebase</span>.
                Leveraged <span class="tools">Firebase</span> for real-time data synchronization and authentication, ensuring data consistency and security for both patients and hospital staff.
                Developed custom components, services, and directives using <span class="tools">Angular</span>, optimizing code reusability and maintainability.</P>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li><span class="tools">Angular</span></li>
                <li><span class="tools">Angular Material</span></li>
                <li><span class="tools">Firebase</span></li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Hospital-Management-System" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://hospital-management-779ee.web.app/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="store1 store-animation d-flex position-relative">
        <div class="h-man">
          <h3>Featured Project</h3>
          <a class="hang" href="https://mohamedatef-99.github.io/Product-Management-System/" target="_blank">Product Management System</a>
          <div class="dettails">
            <div class="ph-man">
              <P>Developed a Product Management System, a web-based application, to facilitate efficient product management. Implemented full CRUD functionality (Create, Read, Update, Delete) to allow users to add, view, edit, and remove product information.</P>
            </div>
            <div class="man-l">
              <ul class="man-l d-flex">
                <li><span class="tools">HTML</span></li>
                <li><span class="tools">CSS</span></li>
                <li><span class="tools">JavaScript</span></li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Product-Management-System" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://mohamedatef-99.github.io/Product-Management-System/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
        <div class="ih-man">
          <img src="assets/images/product management system.png" alt="Restaurant" loading="lazy">
          <div class="overlay"></div>
        </div>
      </div>

  </div>
</section>
