<section id="work" class="work">
  <div class="head">
    <h2><span>3.</span>&nbsp;Some Projects I’ve Built</h2>
    <div class="line"></div>
  </div>
  <div class="projects pt-4">
    <!-- Project 1 -->
    <div class="store2 store-animation d-flex position-relative">
      <div class="image">
        <a href="https://nextjs-ecommerce-ma.netlify.app/"
          ><img src="assets/images/next.png" alt="Store API" loading="lazy"
        /></a>
        <div class="overlay"></div>
      </div>
      <div class="pro-details">
        <h3 class="head3">Featured Project</h3>
        <a
          class="hang"
          href="https://nextjs-ecommerce-ma.netlify.app/"
          target="_blank"
          >Full-Stack E-commerce Website</a
        >
        <div class="">
          <div class="pragraph">
            <p>
              Built a complete e-commerce platform allowing users to browse, add
              products to carts, and proceed to checkout. Implemented a secure
              authentication system allowing users to log in with Google
              credentials and maintain authenticated sessions. Leveraged Prisma
              to manage and interact with databases, ensuring smooth data
              transactions. Developed an intuitive user interface using
              TailwindCSS and DaisyUI for an aesthetically pleasing and
              responsive design.
            </p>
          </div>
          <div class="p-list">
            <ul class="list d-flex">
              <li><span class="tools">Next JS</span></li>
              <li><span class="tools">Node JS</span></li>
              <li><span class="tools">Express JS</span></li>
              <li><span class="tools">MongoDB</span></li>
              <li><span class="tools">Prisma</span></li>
            </ul>
            <a
              href="https://github.com/mohamedatef-99/Next-JS-Ecommerce"
              target="_blank"
              ><i class="fa-brands fa-github mt-3"></i
            ></a>
            <a href="https://nextjs-ecommerce-ma.netlify.app/" target="_blank"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="store1 store-animation d-flex position-relative">
      <div class="h-man">
        <h3>Featured Project</h3>
        <a class="hang" href="https://mt-goldgym.netlify.app/" target="_blank"
          >Golds Gym</a
        >
        <div class="dettails">
          <div class="ph-man">
            <P
              >Golds Gym is a React-based web application designed to assist
              fitness enthusiasts in exploring various exercises, accessing
              detailed information about them, and viewing associated
              instructional videos. Developed a comprehensive catalog of
              exercises categorized for easy exploration. Provided in-depth
              details about each exercise, including descriptions, muscle groups
              targeted, and instructions. Integrated APIs to fetch exercise data
              and associated videos.</P
            >
          </div>
          <div class="man-l">
            <ul class="man-l d-flex">
              <li><span class="tools">React</span></li>
              <li><span class="tools">Tailwind</span></li>
              <li><span class="tools">RapidAPI</span></li>
            </ul>
            <a
              href="https://github.com/mohamedatef-99/Golds-Gym-using-React"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="https://mt-goldgym.netlify.app/" target="_blank"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="ih-man">
        <img src="assets/images/react.png" alt="Restaurant" loading="lazy" />
        <div class="overlay"></div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="store store-animation d-flex position-relative">
      <div class="image">
        <img
          src="assets/images/angular.png"
          alt="Hospital Management System"
          loading="lazy"
        />
        <div class="overlay"></div>
      </div>
      <div class="pro-details">
        <h3>Featured Project</h3>
        <a
          href="https://mohamedatef-99.github.io/MyStore-app-using-angular/"
          target="_blank"
          >MyStore</a
        >
        <div class="dettails">
          <div class="pragraph">
            <P
              >MyStore is an Angular-based e-commerce application integrated
              with APIs to provide a user-friendly interface for browsing
              products, viewing product details, managing a shopping cart, and
              incorporating a form for data insertion. Implemented a
              comprehensive catalog showcasing various products available for
              purchase. Provided detailed information about each product,
              enabling users to make informed decisions. Incorporated a
              functional cart system for users to manage their selected items
              before checkout. Designed a form allowing users to insert data,
              potentially for subscriptions, inquiries, or feedback.</P
            >
          </div>
          <div class="p-list">
            <ul class="list d-flex">
              <li><span class="tools">Angular</span></li>
              <li><span class="tools">Bootstrap</span></li>
              <li><span class="tools">API Integration</span></li>
            </ul>
            <a
              href="https://github.com/mohamedatef-99/MyStore-app-using-angular"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              href="https://mohamedatef-99.github.io/MyStore-app-using-angular/"
              target="_blank"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Project 4 -->
    <div class="store1 store-animation d-flex position-relative">
      <div class="h-man">
        <h3>Featured Project</h3>
        <a
          class="hang"
          href="https://mohamedatef-99.github.io/Restaurant-Website/"
          target="_blank"
          >Grill Restaurant</a
        >
        <div class="dettails">
          <div class="ph-man">
            <P
              >Creating restaurant website using HTML, CSS and JavaScript. the
              website has some sections like About us, Menu, Upcoming events and
              Form for reservation. Moreover the website has some features like
              a slider, auto slider and it has a scroll up button.</P
            >
          </div>
          <div class="man-l">
            <ul class="man-l d-flex">
              <li><span class="tools">HTML</span></li>
              <li><span class="tools">CSS</span></li>
              <li><span class="tools">JavaScript</span></li>
            </ul>
            <a
              href="https://github.com/mohamedatef-99/Restaurant-Website"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              href="https://mohamedatef-99.github.io/Restaurant-Website/"
              target="_blank"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="ih-man">
        <img
          src="assets/images/Resturant.PNG"
          alt="Restaurant"
          loading="lazy"
        />
        <div class="overlay"></div>
      </div>
    </div>
  </div>
</section>
