section{
  margin-left: 10%;
  margin-top: 100px;
  padding-top: 100px;
  width: 80%
}
.skills-animation{
  opacity: 0;
}
.head{
  text-align: center;
  transform: translateX(-5%);
}
.head h2{
  font-size: 30px;
  color: #CCD6F6;
}
.head span{
  color: #60F6D3;
  font-size: 25px;
}

.skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.skills span{
  width: 200px;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6E7A97;
  font-size: 20px;
  border-radius: 11px;
  background: linear-gradient(145deg, #0b1b32, #09172a);
  box-shadow:  5px 5px 10px #081323,
              -5px -5px 10px #0d1f3b;
}
.skills span:hover{
  color: #60F6D3;
}

/* Media */
@media only screen and (max-width: 340px){
  .skills span{
    width: 340px
  }
  .head h2{
    font-size: 25px
  }
  .head span{
    font-size: 20px;
  }
}
/* CSS styles for smartphones */
@media only screen and (min-width: 341px) and (max-width: 480px) {
  .head h2{
    font-size: 25px
  }
  .head span{
    font-size: 20px;
  }
  .skills span{
    width: 400px
  }
}

