<div class="contact">
  <a href="https://github.com/mohamedatef-99" target="_blank"><i class="fa-brands fa-github"></i></a>  
  <a href="https://www.linkedin.com/in/mohamed-atef-/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://wa.me/+201114239411" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
  <a href="https://twitter.com/tef3_99" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  <a href="https://www.instagram.com/tef3_99/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <span></span>
</div>
<div class="main">
  <div class="name">
    <h4>Hi,&nbsp; My &nbsp;Name &nbsp;Is</h4>
    <h1>Mohamed Atef</h1>
    <h2 class="parag pt-3">I Enjoy creating things.</h2>
    <p class="type">I am a <span id="typewriter"></span><span class="cursor"></span></p>
    <div class="bio">
      <p>A dedicated and experienced full-stack developer specializing in Angular and Node.js.<br> 
        With a strong foundation in front-end development and a newfound expertise in back-end technologies <br>
        I strive to create visually appealing and highly functional web applications that provide exceptional user experiences.</p>
    </div>
  </div>
</div>
<div class="mail">
  <a href="mailto:mohammed.atef.saif@gmail.com">mohammed.atef.saif@gmail.com</a>
  <span></span>
</div>
